<mat-tab-group mat-align-tabs="center">
    <mat-tab label="PLANO BRONZE">
    <mat-card class="card-bronze">
            <mat-card-title>Benefícios</mat-card-title>
            <mat-card-content>
                <ul>
                    <li>Acesso a aulas coletivas e à musculação</li>
                    <li>22 créditos renovados mensalmente para reservar seu horário de treino</li>
                    <li>Acesso a aulas exclusivas como Race Bootcamp, Torq, Burn e Squad realizadas dentro da academia Bio Ritmo e todas as aulas de ginástica.</li>
                    <li>Acesso apenas a academia escolhida</li>
                    <li>O valor é cobrado mensalmente no seu cartão de crédito, com permanência mínima de 12 meses.</li>
                    <li>Caso seja solicitado o cancelamento do plano antes de 12 meses, será cobrada multa de 20% do valor do contrato.</li>
                    <li>Após o período de carência, não há taxa de cancelamento.</li>
                    <li>A solicitação de cancelamento deve ser feita com 30 dias de antecedência.</li>
                    <li>Plano intransferível.</li>
                </ul>
            </mat-card-content>
            <section><button mat-button class="price">R$99,90</button></section>
            <mat-card-actions>
              <button mat-button class="btnMatr">MATRICULAR-SE</button>
            </mat-card-actions>
        </mat-card>
    </mat-tab>
    <mat-tab label="PLANO PRATA">
        <mat-card class="card-prata">
            <mat-card-title>Benefícios</mat-card-title>
            <mat-card-content>
                <ul>
                    <li>Acesso a aulas coletivas e à musculação</li>
                    <li>22 créditos renovados mensalmente para reservar seu horário de treino</li>
                    <li>Acesso a aulas exclusivas como Race Bootcamp, Torq, Burn e Squad realizadas dentro da academia Bio Ritmo e todas as aulas de ginástica.</li>
                    <li>Acesso apenas a academia escolhida</li>
                    <li>O valor é cobrado mensalmente no seu cartão de crédito, com permanência mínima de 12 meses.</li>
                    <li>Caso seja solicitado o cancelamento do plano antes de 12 meses, será cobrada multa de 20% do valor do contrato.</li>
                    <li>Após o período de carência, não há taxa de cancelamento.</li>
                    <li>A solicitação de cancelamento deve ser feita com 30 dias de antecedência.</li>
                    <li>Plano intransferível.</li>
                </ul>
            </mat-card-content>
            <section><button mat-button class="price">R$129,90</button></section>
            <mat-card-actions>
              <button mat-button class="btnMatr">MATRICULAR-SE</button>
            </mat-card-actions>
        </mat-card>
    </mat-tab>
    <mat-tab label="PLANO OURO">
        <mat-card class="card-ouro">
            <mat-card-title>Benefícios</mat-card-title>
            <mat-card-content>
                <ul>
                    <li>Acesso a aulas coletivas e à musculação</li>
                    <li>22 créditos renovados mensalmente para reservar seu horário de treino</li>
                    <li>Acesso a aulas exclusivas como Race Bootcamp, Torq, Burn e Squad realizadas dentro da academia Bio Ritmo e todas as aulas de ginástica.</li>
                    <li>Acesso apenas a academia escolhida</li>
                    <li>O valor é cobrado mensalmente no seu cartão de crédito, com permanência mínima de 12 meses.</li>
                    <li>Caso seja solicitado o cancelamento do plano antes de 12 meses, será cobrada multa de 20% do valor do contrato.</li>
                    <li>Após o período de carência, não há taxa de cancelamento.</li>
                    <li>A solicitação de cancelamento deve ser feita com 30 dias de antecedência.</li>
                    <li>Plano intransferível.</li>
                </ul>
            </mat-card-content>
            <section><button mat-button class="price">R$149,90</button></section>
            <mat-card-actions>
              <button mat-button class="btnMatr">MATRICULAR-SE</button>
            </mat-card-actions>
        </mat-card>
    </mat-tab>
</mat-tab-group>