.header {
    background-color: #808080;
}

section {
    margin-right: 10px;
    margin-left: auto;
}

.btnMenu {
    background-color: transparent;
    color: aquamarine;
    border-radius: 0px;
}

.btnMenu:hover {
    opacity: 0.9;
    background-color: blanchedalmond;
    color: black;
    border-radius: 5px;
}

.menuMobil {
    display: none;
}

button:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

@media (max-width:1080px) {
    section {
        visibility: hidden;
        display: flex;
        flex-direction: column;
        margin-top: 240px;
        margin-right: -3px;
    }
    .menuMobil {
        display: block;
    }
    
}