.footer {
    text-align: center;
    background-color: #808080;
    width: 100%;
    position: fixed;
    bottom: 0;
}

@media (max-width:1080px) {
    .footer {
        position: unset;
        position: block;
    }
}