<div class="body">
    <h1><strong>BJ-Fit</strong></h1>
    <h2>ESTAMOS AQUI PRA TE AJUDAR A ENCONTRAR A SUA MELHOR VERSÃO</h2>

    <div class="imagens">
        <img class="img1" src="assets/img/img1.png" alt="imagem 1">
        <img class="img2" src="assets/img/img2.png" alt="imagem 2">
        <img class="img3" src="assets/img/img3.png" alt="imagem 3">
        <img class="img4" src="assets/img/img4.png" alt="imagem 4">
    </div>

    <button mat-button class="btnMatr" routerLink="/planos">VER PLANOS</button>

    <div class="heart">
        <img class="img5" src="assets/img/heart.png" alt="heart">
        <section>
            <h1 class="titleHeart">SUA SAÚDE É PRIORIDADE</h1>
            <p>Lorem ipsum pretium fringilla consectetur odio porttitor aenean, lectus feugiat quis quisque nunc nam,
                netus accumsan ornare augue eget habitasse. tristique lacinia sit faucibus scelerisque aliquam ut neque
                aenean dolor, sit vivamus lacus per lobortis ut velit litora, rhoncus primis nisl morbi id sit quisque
                elit</p>
        </section>
    </div>

</div>